<div class="grid grid-pad">
  <form>
      <div class="panel panel-primary">
        <div class="panel-heading">Region Add</div>
        <div class="panel-body">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Region ID" name="RegionID" [(ngModel)]="newRegion.RegionID">
              <br />
              <textarea class="form-control" rows="3" placeholder="Region Description" name="RegionDescription" [(ngModel)]="newRegion.RegionDescription"></textarea>
              <br />
              <button class="btn btn-primary" (click)="addRegion()">Save</button>
			        <a class="btn btn-primary" [routerLink]="['Region']">Cancel</a>
          </div>
        </div>
      </div>
  </form>
</div>
