<div class="grid grid-pad">
	<form>
		<div class="panel panel-primary">
			<div class="panel-heading">Region Add</div>
			<div class="panel-body">
				<!--div class="form-group">
				<input type="text" class="form-control" placeholder="Region ID" name="RegionID" [(ngModel)]="newRegion.RegionID">
				<br />
				<textarea class="form-control" rows="3" placeholder="Region Description" name="RegionDescription" [(ngModel)]="newRegion.RegionDescription"></textarea>
				</div-->
				<div class="form-horizontal">
					<div class="row has-error">
						<span id="error" class="help-block"></span>
					</div>
					
					<div class="form-group">
						<label class="col-xs-3 col-sm-2 control-label">Region Id:</label>
						<div class="col-xs-9 col-sm-10">
							<input type="text" class="form-control" id="RegionID" name="RegionID" placeholder="Region Id" [(ngModel)]="objRegion.RegionID" readonly />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 col-sm-2 control-label">Region Description:</label>
						<div class="col-xs-9 col-sm-10">
							<input type="text" class="form-control" id="RegionDescription" name="RegionDescription" placeholder="Region Description" [(ngModel)]="objRegion.RegionDescription" />
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer clearfix">
				<div class="pull-right">
					<button class="btn btn-primary" (click)="addRegion()">Save</button>
					<a class="btn btn-primary" [routerLink]="['Region']">Cancel</a>
				</div>
			</div>
		</div>
	</form>
</div>
