<div class="grid grid-pad">
	<h1>Region List</h1>
	<div *ngIf="selectedRegion">(ID: {{selectedRegion.RegionID}})</div>
	<a [routerLink]="['RegionAdd']" class="btn btn-primary"><i class="fa fa-plus"></i>Add</a>
	<table class="table table-bordered table-striped table-condensed table-hover">
		<tr> 
			<th>Action</th>
			<th>RegionID</th>
			<th>RegionDescription</th>

		</tr>
		<tbody>
			<tr *ngFor="#item of RegionList">
				<td style="width: 100px">
					<a href="" [routerLink]="['RegionEdit', {id: item.RegionID}]">Edit</a>
					<a (click)="deleteRegion(item.RegionID)">Delete</a>
				</td>
				<td class="text-left">{{item.RegionID}}</td>
				<td class="text-left">{{item.RegionDescription}}</td>

			</tr>
		</tbody>
	</table>
</div>
	
 
<!--
  <form *ngIf="selectedRegion" >
      <div class="panel panel-primary">
        <div class="panel-heading">Region Edit</div>
        <div class="panel-body">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Region ID" name="RegionID" [(ngModel)]="selectedRegion.RegionID" [disabled]="true">
              <br />
              <textarea class="form-control" rows="3" placeholder="Region Description" name="RegionDescription" [(ngModel)]="selectedRegion.RegionDescription"></textarea>
              <br />
              <button class="btn btn-primary" (click)="updateRegion()">Update</button>
          </div>
        </div>
      </div>
  </form>
  <form *ngIf="showAdd">
      <div class="panel panel-primary">
        <div class="panel-heading">Region Add</div>
        <div class="panel-body">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Region ID" name="RegionID" [(ngModel)]="newRegion.RegionID">
              <br />
              <textarea class="form-control" rows="3" placeholder="Region Description" name="RegionDescription" [(ngModel)]="newRegion.RegionDescription"></textarea>
              <br />
              <button class="btn btn-primary" (click)="addRegion()">Save</button>
              <button class="btn btn-primary" (click)="hideAddRegion()">Cancel</button>
          </div>
        </div>
      </div>
  </form>
  -->