<div class="grid grid-pad">
  <h1>Products List</h1>
  <div *ngIf="selectedProduct">Product Name: {{selectedProduct.ProductName}} (ID: {{selectedProduct.ProductID}})</div>
  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <th>Action</th>
      <th>ID</th>
      <th>Name</th>
      <th>SupplierID</th>
      <th>CategoryID</th>
      <th>QuantityPerUnit</th>
      <th>UnitPrice</th>
      <th>UnitsInStock</th>
      <th>UnitsOnOrder</th>
      <th>ReorderLevel</th>
      <th>Discontinued</th>
    </tr>
    <tbody>
      <tr *ngFor="#item of products">
        <td style="width: 100px"><a (click)="SelectProduct(item)">Select</a> <a>Delete</a></td>
        <td>{{item.ProductID}}</td>
        <td>{{item.ProductName}}</td>
        <td>{{item.SupplierID}}</td>
        <td>{{item.CategoryID}}</td>
        <td>{{item.QuantityPerUnit}}</td>
        <td>{{item.UnitPrice}}</td>
        <td>{{item.UnitsInStock}}</td>
        <td>{{item.UnitsOnOrder}}</td>
        <td>{{item.ReorderLevel}}</td>
        <td>{{item.Discontinued}}</td>
      </tr>
    </tbody>
  </table>

  <form>
      <div class="panel panel-primary">
        <div class="panel-heading">Product Add/Edit</div>
        <div class="panel-body">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Product ID" name="ProductID">
              <br />
              <textarea class="form-control" rows="3" placeholder="Product Name" name="ProductName"></textarea>
              <br />
              <button type="submit" class="btn btn-primary">Add</button>
              <button type="submit" class="btn btn-primary">Update</button>
              <button type="submit" class="btn btn-warning">Delete</button>
          </div>
        </div>
      </div>
  </form>
</div>
 