<div class="grid grid-pad">
  <h1>Regions List</h1>
  <div *ngIf="selectedRegion">Region Name: {{selectedRegion.RegionDescription}} (ID: {{selectedRegion.RegionID}})</div>
  <button class="btn btn-primary" (click)="showAddRegion()">Add</button><br>
  <table class="table table-bordered table-striped table-condensed">
    <tr> 
      <th>Action</th>
      <th>ID</th>
      <th>Description</th>
    </tr>
    <tbody>
      <tr *ngFor="#item of regions">
        <td style="width: 100px"><a (click)="SelectRegion(item)">Edit</a> <a (click)="deleteRegion(item.RegionID)">Delete</a></td>
        <td>{{item.RegionID}}</td>
        <td>{{item.RegionDescription}}</td>
      </tr>
    </tbody>
  </table>

  <form *ngIf="selectedRegion" >
      <div class="panel panel-primary">
        <div class="panel-heading">Region Edit</div>
        <div class="panel-body">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Region ID" name="RegionID" [(ngModel)]="selectedRegion.RegionID" [disabled]="true">
              <br />
              <textarea class="form-control" rows="3" placeholder="Region Description" name="RegionDescription" [(ngModel)]="selectedRegion.RegionDescription"></textarea>
              <br />
              <button class="btn btn-primary" (click)="updateRegion()">Update</button>
          </div>
        </div>
      </div>
  </form>
  <form *ngIf="showAdd">
      <div class="panel panel-primary">
        <div class="panel-heading">Region Add</div>
        <div class="panel-body">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Region ID" name="RegionID" [(ngModel)]="newRegion.RegionID">
              <br />
              <textarea class="form-control" rows="3" placeholder="Region Description" name="RegionDescription" [(ngModel)]="newRegion.RegionDescription"></textarea>
              <br />
              <button class="btn btn-primary" (click)="addRegion()">Save</button>
              <button class="btn btn-primary" (click)="hideAddRegion()">Cancel</button>
          </div>
        </div>
      </div>
  </form>
</div>
 